@import 'react-big-calendar/lib/css/react-big-calendar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  background: #F9F4ED;
  color: #3B2F2F;
  font-family: "Poppins", sans-serif;
}